*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
    height: 120px;
    background-color: cornsilk;
    text-align: center;
    padding: 5px;
    font-size: 25px;
}


.main{
    height: 650px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPO4_JGQUDyZSAamxG6tXqRMXwH7mFkH54psryGUTzKwjbTLr390H0oTUQvv8DCCCwCVI&usqp=CAU);
}

.box{
    list-style: none;
    font-size: 23px;
    font-weight: bold;
    border-top: solid 6px #adedf1;
    margin: 2em auto;
    padding: 1em;
    width: 35%;
    box-shadow: 2px 2px 4px rgb(68, 64, 64); 
    float: left;
    background-color: rgb(256, 256, 210);
    margin-left: 50px;
    }


.main img{
    width: 500px;
    text-align: right;
    margin-left: 200px;
    margin-top: 40px;
}

.footer{
    height: 80px;
    background-color: rgb(255, 243, 188);
}

.main p{
    text-align: left;
    color: blue;
    font-size: 25px;
    margin-left: 200px;
    font-weight: bold;
}


@media(max-width: 1000px){
    .rick{
        height: 80%;
     }
}

@media(max-width: 670px){
    .rick{
        text-align: center;
        width: 60vm;
    }
    .header h1{
        font-size: 20px;
    }
    .box{ 
        width: 100vw;
    }
    .main p{
        font-size: 15px;
    }
}

