*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header{
    height: 120px;
    background-image: url(https://www.photolibrary.jp/mhd6/img766/450-20200412202051388031.jpg);
    text-align: center;
    padding: 5px;
    font-size: 25px;
}


.main{
    height: 600px;
    background-image: url(https://cdn.shopify.com/s/files/1/0285/3217/9075/products/Snipaste_2020-04-28_15-20-20_530x@2x.png?v=1591860384);
}

.box{
    list-style: none;
    font-size: 23px;
    font-weight: bold;
    border-top: solid 6px #cc9b07;
    margin: 2em auto;
    padding: 1em;
    width: 35%;
    box-shadow: 2px 2px 4px rgb(68, 64, 64); 
    float: left;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPO4_JGQUDyZSAamxG6tXqRMXwH7mFkH54psryGUTzKwjbTLr390H0oTUQvv8DCCCwCVI&usqp=CAU);
    margin-left: 50px;
    }


.rick img{
    width: 500px;
    margin-left: 100px;
    margin-top: 30px;
    overflow: hidden;
}

.footer{
    height: 150px;
    background-color: rgb(255, 243, 188);
}

.aaa h6{
    text-align: left;
    background-color: rgba(250, 193, 146, 0.5);    
    color: rgb(235, 96, 16);
    font-size: 20px;
    margin: 30px 150px;
    font-weight: bold;
    border-top: solid 2px rgb(145, 140, 140);
    border-bottom: solid 2px rgb(145, 140, 140);
    padding: 10px 0px;
    overflow: hidden;
}

.footer{
    margin: 0px;
}


@media(max-width: 1000px){
    .header{
        height: 100px;
        width: 100%;
        margin-left: 0;
    }
    .header h1{
        font-size: 40px;
    }

    .main{
        height: 800px;
        width: 100%;
    }

    .box{ 
        width: 350px;
        height: 200px;
        font-size: 18px;
        margin-left: auto;
    }

    .rick img{
        float: left;
        width: 350px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .aaa h6{
        font-size: 15px;
        margin-left: 0px;
        margin-top: 650px;
    }

      
}

@media(max-width: 670px){
    .header{
        height: 60px;
        width: 100%;
        margin-left: 0;
    }

    .main{
        height: 700px;
        width: 100%;
    }

    .box{ 
        width: 300px;
        height: 170px;
        font-size: 15px;
        margin-left: 10px;
    }
    
    .rick img{
        float: left;
        width: 330px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .header h1{
        font-size: 25px;
    }

    .aaa h6{
        font-size: 12px;
        height: 100px;
        width: 330px;
        margin-left: 10px;
        margin-top: 550px;
        }
}

